body{
	font-family:'Product Sans', Arial, sans-serif;
	background-color:#f5f5f5;
	    margin-top: 0px;
	margin-bottom: 0px; 
	margin-left: 0px;
	margin-right: 0px;
    padding: 0;
}

	#menu_bar{
		z-index:1;
height:12vh;
width:100%;
background-color:#1e414e;
box-shadow:0px 0px 20px black;}
#a_hover:hover{
	color:#79c5f5;
}
#ttt:hover div{
	transform:translateY(-60%);
}
#ttt:hover #tt{
	color:#1e414e;
}
#drop_down_li:hover #aa_hover{
		color:#79c5f5;
}
#drop_down{
opacity:0;
visibility:hidden;
transition:all 0.3s;
}
#drop_down_li:hover #drop_down{
opacity:1;
visibility:visible;
}
#read_more{
	margin-top:5vh;
color:white;
background-color:#1e414e;
padding:10px;
border-radius:5px;
width:13%;
font-size:110%;
cursor:pointer;
text-align:center;}
#menu_bar_ismp{
		position:relative;

height:8vh;
text-shadow:1px 1px black;
margin-top:1.5vh;
margin-left:0.7%;
//border:2px solid white;
color:white;
width:32%;
font-size:160%;
float:left;}
#menu_bar_buttons{
	width:60%;
	float:right;
	height:8vh;
	margin-top:3vh;
	margin-right:1%;
	}
li{
font-size:110%;
padding:8px;
display:inline;
float:right;
}
a{
	transition:color 0.2s ease;
color:white;
text-decoration:none;
}
	#above_footer{
	height:1vh;
	margin-top:5vh;
	width:100%;
	background-color:#1e414e;
	}
	.t2{
	width:100%;
	background-color:#ddd}
	.t2 a{

color:#5a5a5a;}
.t2 th{
font-size:20px;
text-align:center;
	color:#5a5a5a;
	padding:10px}
	.t2 td{
	text-align:center;
	color:#5a5a5a;
	padding:10px;
font-size:17px;
	}
	.t2 a:hover{
		color:orange;
	}
	
	#footer_div{
	height:43px;
	width:100%;
	background-color:#1e414e;
	text-align:center;
	border-top:1px solid #1e414e;
	}
	#footer_div h1{
	text-align:center;
	color:white;
	font-size:17px;}
	#footer_div h1 a{color:white;
	text-decoration:underline;
	}
	h1{
		text-align:center;
	}
	#opup{
opacity:1;}
