body{
    background-color: white;
}
.drop-list{
    background-color: darkgreen;
    opacity: 1;
    padding: 2%;
}
.drop-list:hover{
    background-color: grey;
    opacity: 0.9;
    padding: 2%;
}
#drop{
    background-color: darkgreen;
    opacity: 1;
}

.drop-list a{
    color: white;
    text-decoration: none;
}
#top_navbar{
    background-color: darkgreen;
    opacity: 0.7;
}
.carousel-caption img{
    opacity: 0.7;
}
h3{
    color: maroon;
}
#part-2{
    background-color: white;
}

#jumbo{
    padding: 1%;
     background-color: darkgreen;
    opacity: 0.8;
    color: white;
}
#about_us{
    background-color: beige;
}

#contact_us{
    background-color: gray;
}
#our_team{
    background-color: aliceblue;
}
.footer{
    background-color: darkgreen;
}
#faq{
    padding-left: 100px;
    padding-right: 100px;
}